@using Rong.Volo.Abp.CodeGenerator.Vue.Models
@inherits Volo.Abp.TextTemplating.Razor.RazorTemplatePageBase<TemplateVueAddModel>

@{
}
<template>
  <a-drawer v-model:visible="visible" title="新增 - @Model.EntityName" width="800px">
    <template #extra>
      <a-button @@click="visible = false">取消</a-button>
      <a-button @@click="handleSubmit" type="primary" style="margin-left: 20px">提交</a-button>
    </template>
    <div>
            <BasicForm @@register="Register" v-if="visible">
            <!-- <template #healthAttachs="{ model, field }"></template> -->
        </BasicForm>
    </div>
  </a-drawer>
</template>

<script lang="ts" setup>
  import { nextTick, ref } from 'vue';
  import { @{@Model.Entity}Create } from '../api';
  import { BasicForm, FormSchema, useForm } from '@@/components/Form/index';
  import { useDictStore } from '@@/store/modules/dict';
  import { useEnumStore } from '@@/store/modules/enum';

  const dictStore = useDictStore();
  const enumStore = useEnumStore();
  const visible = ref<Boolean>(false);
  const $emit = defineEmits(['success']);

  /**
   * 表单
   */
  const schemas: FormSchema[] = [
  @Model.FormTemplate
  ];

  /**
   * 表单配置
   */
  const [Register, { validateFields, getFieldsValue, resetFields }] = useForm({
    labelWidth: 120,
    schemas,
    actionColOptions: {
      span: 12,
    },
    baseColProps: {
      span: 24,
    },
    // 是否显示操作按钮
    showActionButtonGroup: false,
  });

  /**
  * 提交表单
  */
  async function handleSubmit() {
    //验证
    await validateFields();
    //获取
    const data: any = getFieldsValue();
    //创建
    await @{@Model.Entity}Create(data);

    visible.value = false;
    $emit('success');
  }

  /**
  * 弹框
  */
  function open() {
    visible.value = true;
    nextTick(() => {
      resetFields();
    });
  }
  defineExpose({ open });

</script>