@using Rong.Volo.Abp.CodeGenerator.Vue.Models.Pages
@inherits Volo.Abp.TextTemplating.Razor.RazorTemplatePageBase<TemplateVuePageDetailModel>
@{
}
<template>
  <!--  详情页面 -->
  <a-spin :spinning="loading">
    <div class="detail">
      <a-descriptions bordered :column="props.column" size="small" :labelStyle="labelStyle">
        @Model.DetailTemplate
      </a-descriptions>
    </div>
  </a-spin>
</template>

<script setup lang="ts">

  import { @{@Model.EntityInfo.Entity}Get } from '../api';
  import { ref, nextTick, watch } from 'vue';
  import { formatToDate } from '@@/utils/dateUtil';
  import { useDictStore } from '@@/store/modules/dict';
  import { useEnumStore } from '@@/store/modules/enum';

  const dictStore = useDictStore();
  const enumStore = useEnumStore();

  const props = defineProps({
    id: { type: String, default: '' },
    column: { type: Object, default: { xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 } },
  });
  const labelStyle = {
    width: '120px',
    'justify-content': 'flex-end',
  };
  let detailData: any = ref({});
  let loading = ref(true)

  /**
   * 监听id
   */
  watch(
    () => props.id,
    async (newValue) => {
      await getData(newValue);
    },
    {
      immediate: true,
    },
  );
  /**
   * 获取详情
   */
  async function getData(id) {
      detailData.value = {};
      if (!id) {
        return;
      }
      loading.value = true;
      var res = await @{@Model.EntityInfo.Entity}Get(id);
      detailData.value = res;
      loading.value = false;
  }

  defineExpose({});
</script>

<style lang="less" scoped>
  .title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .contentBox {
    min-height: 500px;
    padding: 10px;
    border: 1px solid #ccc;
  }
</style>
